<!DOCTYPE HTML>
<html>
<head>
<title>BPMN2 Choreography to OpenAPI Server Stubs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<p>With this button, you can upload a zip file containing a BPMN2
		diagram with external XSD types. Our algorithm will <a href="choreography.png">translate the
		diagram</a> to <a hef="Mobility_Information_Planner.json">OpenAPI specs</a> for every participants  and then their <a href="ms-suite.zip">microservice server stubs</a>.</p>
	<p>
		You can try the service with the <a href="choreo.zip">provided
			file</a> to give it a spin
	</p>
	<p>Since we run on low-budget virtualized public cloud instances,
		processing can take up to 1 min for a regular file</p>

	<form action="bpmn" method="post" enctype="multipart/form-data">
		<input name="file" type="file" /> <input type="submit"
			value="Generate Microservices" />
	</form>
</body>
</html>
